# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

phpmyadmin
sites/default/files2.zip

*htaccess
*.htaccess
.ftpquota

backup
backup/*

phpmyadmin
phpmyadmin/*


# Ignore cache files
sites/default/files/css/*
sites/default/files/js/*
sites/default/files/languages/*

# Remove rubbish from repo
/nbproject/private/
nbproject
nbproject/*
*.swp
Thumbs.db
*~*
.DS_Store?
*.swo
