
/* Admin menu font */
div#admin-menu ul li a {
  font-family: Calibri, arial;
  font-size: 14px;
}

body {
  font-family: Calibri;
  font-size: 14px;
  background: #ffffff;
}

.page-admin {
  font-size: 14px;
}

a,
a:link,
a:visited {
  color: #cb2323;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p, div, ol, ul, li {
  font-size: 16px;
}

p, br {
  margin-bottom: 0px;
}

/* Header */
#zone-branding-wrapper {
  background: #000;
  height: 180px;
}

/* Logo and sitename*/
#block-block-1{
  float: left;
  margin-top: 20px;
}

#block-block-1 a img {
  float: left;
  margin-right: 25px;
}

#block-block-2{
  float: left;
}

#block-block-2 a img {
  float: left;
  margin-top: 60px;
}

#block-block-3,
#block-block-4,
#block-block-9 {
  float: right;
}

#block-block-3 {
  position: relative;
  z-index: 200;
  margin-right: -175px;
} 

#block-block-3 a img{
  margin-top: 55px;
  margin-right: -10px;
}

#block-block-4 {
  position: relative;
  z-index: 999;
}

#block-block-4 a img,
#block-block-8 {
  margin-top: 10px;
  margin-right: -10px;
}

#block-block-7 {
  float: right;
  height: 35px;
  position: relative;
  z-index: 1100;
  margin-top: 15px; 
}

/* @end logo and sitename */
/* @end header */

/* Header menu */

#block-block-10 {
    float: left;
    margin-left: -450px;
    margin-top: 20px;
}

#block-menu-menu-header-menu {
  width: 500px;
  margin-left: -50px;
}

#block-menu-menu-header-menu .block-title {
  display: none;
}

#block-menu-menu-header-menu ul {
  margin-right: -27px;
} 

#block-menu-menu-header-menu ul li {
  display: inline;
  list-style: none;
  float: right;
  margin: 20px 15px 15px 0px;
  padding: 0px;
}

#block-menu-menu-header-menu ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}

/* @end header menu*/

/* Main menu */

#block-menu-menu-main-menu {
  float: right;
} 

#block-menu-menu-main-menu ul {
  text-align: right;
  margin-right: 35px;
  margin-top: 5px;
}

#block-menu-menu-main-menu li {
  padding-right: 18px;
  margin-right: 0px;
  list-style: none;
  display: inline;
}

#block-menu-menu-main-menu li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

#block-menu-menu-main-menu li a:hover {
  opacity: 0.5;
}

#block-menu-menu-main-menu li a.active {
  border-radius: 12px;
  border: #FFFFFF solid 1px;
  padding: 2px 6px;
}

/* @end main menu */

/* Front page */

/* Sharethis block */

.sharethis-buttons {
  width: 100%;
  float: left;
  margin: 20px 0 25px 30px;
}

.page-user #page-title {
  padding: 0 0 20px 0;
}

.page-user .block-system {
  width: 98%;
  float: left;
}

.page-node .tabs {
  position: relative;
  z-index: 1;
  float: left;
  width: 95%;
  margin: 0 15px;
}
ul.tabs {
  float:left;
  width: 94%;
}

.not-logged-in div.tabs {
  float: left;
  width: 97%;
}

/* @end sharethis block */

/* Lenta novostej */
.zone-content {
  margin-top: 20px;
}

.front .zone-content {
  margin-top: 30px;
}

.title_container {
/*  float: left; */
  width: 100%;
}

/*.page-frontpage */
h1#page-title,
.contextual-links-region h1#page-title,
.not-logged-in  h1#page-title,
#block-views-afishi-frontpage-block h2.block-title,
#block-views-afishi-frontpage-block-1 h2.block-title {
  color: #6f6d6d;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: -12px;
  margin-left: 22px;
}

.view-news-lenta .views-row {
  border: #6f6d6d 3px solid;
  margin-bottom: 35px;
  padding: 0 0 25px 0;
  width: 620px;
  float: right;

}

.view-news-lenta .views-row .views-field-title {
  float: right;
  padding-right: 16px;
  width: 94%;
  margin-top: 35px;
  margin-bottom: 12px;
}

.view-news-lenta .views-row .views-field-title span a{
  text-decoration: none;
  font-size: 32px;
  color: #3c3b3b;
  float: right;
  line-height: 1;
  text-align: right;
  width: 80%;
}

.view-news-lenta .views-row .views-field-field-date {
  float: right;
  margin-right: 16px;
  width: 100%;
  text-align: right;
}

.view-news-lenta .views-row .views-field-field-date span {
  color: #8c8b8c;
  font-size: 14px;
}

.view-news-lenta .views-row .views-field-field-image a img {
  float: left;
  margin: 10px 25px 0px 25px;
}

.view-news-lenta .views-row .views-field-body {
  padding: 0 25px;
}

.view-news-lenta .views-row .views-field-body .field-content {
  color: #3d3d3d;
  font-size: 16px;
  margin-left: 0px;
}

.view-news-lenta .views-row .views-field-view-node {
  float: right;
  clear: right;
  margin: 70px 30px 0 0;
}

.view-news-lenta .views-row .views-field-view-node a{
  color: #8c8b8c;
  font-size: 14px;
  text-decoration: none;
}

/* @end lenta novostej */

/* Afishi i kolonki */


#block-views-afishi-block,
#block-views-afishi-block-1,
#block-views-afishi-block-2,
.page-frontpage #block-block-5 {
  margin-bottom: 40px;
}

#block-views-afishi-block .content,
#block-views-afishi-block-1 .content,
#block-views-afishi-block-2 .content {
  border: #6f6d6d 3px solid;
  width: 300px;
}

#block-views-afishi-block h2.block-title,
#block-views-afishi-block-1 h2.block-title,
#block-views-afishi-block-2 h2.block-title {
  font-size: 30px;
  color: #6f6d6d;
  margin-bottom: -12px;
  margin-left: 22px; 
} 

#block-views-afishi-block h2.block-title a,
#block-views-afishi-block-1 h2.block-title a,
#block-views-afishi-block h2.block-title a:link,
#block-views-afishi-block-1 h2.block-title a:link,
#block-views-afishi-block h2.block-title a:visited,
#block-views-afishi-block-1 h2.block-title a:visited {
  color: #6f6d6d;
}

#block-views-afishi-block h2.block-title a:hover,
#block-views-afishi-block-1 h2.block-title a:hover {
  color: #CB2323;
  text-decoration: none;
}

.view-afishi .views-row {
  float: left;
  margin-bottom: 10px;
}

.view-afishi .views-row .views-field-title {
  float: right;
  margin-top: 20px;
  margin-right: 15px;
  clear: left; 
  text-align: right;
  width: 90%;
  padding-bottom: 10px;
}

.view-afishi .views-row .views-field-title a{
  font-size: 22px;
  color: #3c3b3b;
  text-decoration: none;
  line-height: 1;
}

.view-afishi .views-row .views-field-field-image a img {
  float: left;
  margin: 5px 20px 0px 17px;
}

.view-afishi .views-row .views-field-body {
  padding: 0 15px;
}

.view-afishi .views-row .views-field-body .field-content {
  color: #3d3d3d;
  font-size: 13px;
  line-height: 17px;
}
.view-afishi .views-row .views-field-field-autor {
  float: left;
  clear: left;
  margin-left: 17px;
  width: 120px;
  padding-bottom: 20px;
}

.view-afishi .view-footer {
  float: left;
  width: 270px;
  text-align: right;
  padding: 0 15px 3px;
}
.view-afishi .view-footer a {
  font-size: 14px;
}

.front #block-block-9 {
  margin-top: 0px;
}

#block-block-9 {
  margin-top: 25px;
}

/* @end afishi i kolonki */


/* Footer */

#zone-footer-wrapper {
  background: #000;
  height: 200px;
  margin-top: 30px;
}

#block-menu-menu-footer-menu {
  margin-top: 15px;
}

#block-menu-menu-footer-menu ul {
  text-align: center;
}

#block-menu-menu-footer-menu ul li {
  list-style: none;
  display: inline;
  text-align: center;
}

#block-menu-menu-footer-menu ul li a{
  color: #dedede;
  font-size: 14px;
  text-decoration: none;
}
/* @end footer */
/* @end front page */


/* New and static pages */

.page-node{
  font-family: Calibri;
}

#breadcrumb {
  float: left;
  width: 100%;
}

#breadcrumb a {
  color: #3d3d3d;
  font-size: 14px;
  text-decoration: none;
}

.page-user .region-content-inner,
.page-node #zone-content-wrapper .region-content-inner {
  border: #6f6d6d 3px solid;
  padding: 10px 16px 25px;
  margin-top: 20px;
}

.page-user .region-content-inner {
  margin-top: 33px;
  float: left;
  width: 660px;
}

.page-node #zone-content-wrapper .region-content-inner #page-title {
  float: right;
  margin: 15px 24px 0 0;
  color: #3c3b3b;
  font-size: 36px;
  text-align: right;
  width: 90%;
}
            
.page-user #block-views-afishi-block,
.page-user #block-views-afishi-block-1,
.page-node #block-views-afishi-block,
.page-node #block-views-afishi-block-1 {
  float: left;
  width: 320px;
  margin-top: 40px;
}

.page-node-20 #block-views-afishi-block,
.page-node-20 #block-views-afishi-block-1,
.page-node-20 #block-views-afishi-block-2,
.page-node-21 #block-views-afishi-block,
.page-node-21 #block-views-afishi-block-1,
.page-node-21 #block-views-afishi-block-2,
.page-node-85 #block-views-afishi-block,
.page-node-85 #block-views-afishi-block-1,
.page-node-85 #block-views-afishi-block-2 {
  float: left;
  width: 320px;  
  margin-top: -13px;
}

.page-user #block-block-5,
.page-node #block-block-5 {
  float: right;
  margin-top: 72px;
}

.page-node-20 #block-block-5,
.page-node-21 #block-block-5,
.page-node-85 #block-block-5 {
  margin-top: 10px;
  float: right;
}

.page-node #block-system-main .field-name-field-open-tags {
  float: left;
  margin-left: 35px;
}

.page-node #block-system-main .field-name-field-open-tags a,
.page-node #block-system-main .field-name-field-autor a {
  text-decoration: none;
  font-size: 18px;
  color: #8c8b8c;
}

.page-node #block-system-main .field-name-field-date,
.page-node #block-system-main .field-name-field-event {
  text-align: right;
  float: right;
  margin-right: 25px;
}

.page-node #block-system-main .field-name-field-date span,
.page-node #block-system-main .field-name-field-event span {
  font-size: 18px;
  color: #8c8b8c;
}

.page-node #block-system-main .field-name-field-autor {
  margin-right: 25px;
  float: right;
}

.page-node #block-system-main .field-name-body {
  margin: 0px 35px 30px;
  clear: left;
  clear: right;
}

.page-node #block-system-main .field-name-body p,
.page-node #block-system-main .field-name-body ul,
.page-node #block-system-main .field-name-body ol,
.page-node #block-system-main .field-name-body div {
  font-size: 16px;
  margin-bottom: 10px;
}

.page-node #block-system-main .field-name-body li {
  font-size: 16px;
}

.page-node #block-system-main .field-name-field-image {
  margin-left: 35px;
}

.field-name-field-video {
  margin: -10px 0 10px 35px;
}

.page-node #block-system-main .field-name-field-file {
  float: left;
  margin: -10px 0 10px 35px;
}

.page-node #block-system-main .field-name-field-file .field-item {
  background: url(/sites/default/files/static_pages/soc_seti/download_0.png) no-repeat;
  float: left;
}

.page-node #block-system-main .field-name-field-file .file {
  float: left;
  margin-left: 30px;
}

.page-node #block-system-main .field-name-field-file .file img {
  float: left;
  margin: 1px 5px 0 0;
}

.page-node #block-system-main .field-name-field-file .file a {
  float: left;
  margin-top: -3px;
}

/* @end new and static pages */

/* inner pages specific styles */

#region-content {
  margin-top: 0px;
}

.node-type-webform div.field-name-field-date {
	margin-left: 10px;
	font-size: 12px;
}

.page-node #block-system-main .node-webform .field-name-body {
  margin: 0px;
}

.page-node #block-system-main .node-webform .field-name-body p {
  margin-bottom: 0px;
}

#disqus_thread {
  margin: 0 35px 30px;
}

/* @end inner pages specifiv styles */

article.node-webform {
	padding: 20px;
}
/*@end webform settings*/

/*pages style*/
#page ul.pager .pager-current {
  font-size: 16px;
  color: #393939;
}

#page ul.pager li {
  padding: 0;
  margin: 0 0 0px 7px;
}

#page ul.pager li a {
  color: #3D3D3D;
  font-size: 14px;
  text-decoration: none;
}
#page ul.pager li a:hover {
  text-decoration: underline;
}

#block-logintoboggan-logintoboggan-logged-in {
  min-width: 110px;
  float: right;
  position: relative;
  z-index: 1200; 
  margin-top: 20px;
}

#block-logintoboggan-logintoboggan-logged-in a {
  color: #000;
  font-size: 14px;
}

/* for plakat */

.plakat,
.caption {
  font-size: 14px;
  font-weight: bold;
  float: left;  
  margin-bottom: 20px;
  padding-right: 170px;
  text-align: center;
  width: 400px;
}

.caption p {
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0;
}

/* @end for plakat*/

/* quotes */

blockquote {
  margin: 0 10px;
}

blockquote p {
  font-style: italic;
  padding: 10px;
}

/* @end quotes */

.page-node-webform #region-content,
.page-node-webform-results #region-content {
  width: 100%;
}

.page-node-webform #webform-emails,
.page-node-webform #webform-configure-form {
  float: left;
}

.webform-confirmation p,
#webform-submission-delete-form div,
.webform-results-per-page {
  clear: right; 
}

.page-node-webform-results .caption {
  width: auto;
  margin: 0;
  padding: 0;
}